.practice{
    background-color: rgba(250, 250, 250, 1);
    .container{
        padding-bottom: 45px;
        .row{
            .main-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 864px;
                margin: 0 auto;
                margin-bottom: 45px;
                h2{
                    font-size: 40px;
                    line-height: 57px;
                    letter-spacing: 0.2px;
                    font-weight: 700;

                }
                p{
                    width: 470px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
            .col-md-3{
                .card{
                    height: 340px;
                    border-radius: 0px !important;
                    border: none !important;
                    .card-text{
                        height: 50%;
                        padding: 30px;
                        h5{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                        }
                        p{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                        }
                    }
                    .cardone-img, .cardtwo-img, .cardthree-img, .cardfour-img{
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 50%;
                    }
                    .cardone-img{
                        
                        background-image: url("/images/cover.png");
                    }
                    .cardtwo-img{
                        background-image: url("/images/cover\ \(1\).png");
                    }
                    .cardthree-img{
                        background-image: url("/images/cover\ \(2\).png");
                    }
                    .cardfour-img{
                        background-image: url("/images/cover\ \(3\).png");
                    }
                }
            }
        }
    }
}